/* .container {
  max-width: 1240px;
  margin: 0 auto;
  background-color: gray; */


.header {
  display: flex;
  width: auto;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.header-contacts a {
text-align: center;
padding: 20px;
color: chocolate;
text-decoration: none;
}

.banner {
  position: relative;
  background-image: url(project-material/images/banner-girl.png), url(project-material/images/flower-bkgd.jpg);
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

.banner-girl {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.girl-image {
  height: auto;
  width: 70%;
  border-style: solid;
}

.banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer{
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-media {
  flex-direction: column;
  display: flex;

}






  /* /* tablet width
@media (min-widrth: 600px;)
.logo{
  order: 1;
  width: 10%; */ 