html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
}

/*------------------------------------------------- My Header -----------------------------------------------------*/

.header {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px 0px;
}

.header-logo img {
  width: 150px;
  order: 1;
}

.header-contacts {
  margin: 0 auto;
  padding: 10px;
  order: 3;
  margin-top: 10px;
}

.header-contacts a {
  text-align: center;
  padding: 20px;
  color: #e2574c;
  text-decoration: none;
}

.header-cart img {
  width: 60px;
  order: 2;
}

/*------------------------------------------------- My Banner -----------------------------------------------------*/

.banner {
  position: relative;
  background-image: url(../project-material/images/banner-girl.png), url(../project-material/images/flower-bkgd.jpg);
  background-size: auto 90%, cover;
  background-position: center bottom, center;
  background-repeat: no-repeat, repeat;
  height: 450px;
}

.banner-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*------------------------------------------------- My Category -----------------------------------------------------*/

.category-text {
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-text p {
  line-height: 2;
  margin: 0px 70px;
}

.category-text h2 {
  padding-top: 30px;
}

.category-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50vw;
  height: 50vw;
}

.mens {
  background-image: url(../project-material/images/mens-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
  border-bottom: 5px solid white;
}

.mens a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.trends {
  background-image: url(../project-material/images/trends-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-right: 2.5px solid white;
}

.trends a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.glasses {
  background-image: url(../project-material/images/glasses-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-left: 2.5px solid white;
}

.glasses a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.sales {
  background-image: url(../project-material/images/sale-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-top: 5px solid white;
  border-right: 2.5px solid white;
}

.sales a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.bags {
  background-image: url(../project-material/images/bags-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-top: 5px solid white;
  border-left: 2.5px solid white;
}

.bags a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.womens {
  background-image: url(../project-material/images/womens-category.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;
  border-top: 5px solid white;
}

.womens a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

/*------------------------------------------------- My Slider -----------------------------------------------------*/

.slider {
  height: 650px;
}

.popular-products {
  text-align: center;
  margin: 50px 0px;
}

.main-carousel {
  height: 55vh;
  margin: 90px 0px 70px;
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
  text-align: center;
}

/*------------------------------------------------- My Form -----------------------------------------------------*/

.sign-up {
  position: relative;
  background-image: url(../project-material/images/wave-bkgd.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 330px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 50px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

.sign-up p {
  padding: 0px 60px;
  line-height: 1.7;
  color: white;
}

form {
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin: 0 auto;
  display: inline;
  margin-top: 10px;
}

input[type=text] {
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 250px;
}

input[type=submit] {
  background: #e2574c;
  color: white;
  border-radius: 20px;
  padding: 10px;
  align-items: center;
}

.social-media i {
  padding: 30px 10px;
  color: white;
}

/*------------------------------------------------- My Footer -----------------------------------------------------*/

.footer {
  display: flex;
  height: 330px;
  background-color: #242424;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.footer-info {
  width: 100%;
  text-align: center;
}

.social-media {
  flex-direction: row;
  display: flex;
  padding: 10px;
}

/*------------------------------------------------- My Fonts -----------------------------------------------------*/

body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #2d2d2d;
}

.banner-text {
  color: white;
}

.banner-text p {
  font-size: 20px;
}

.banner-text h1 {
  font-size: 40px;
}

h1, h2 {
  font-family: "Playfair Display";
  font-weight: normal;
}

h2 {
  color: #e2574c;
}

h1 {
  font-size: 35px;
}

.category-text h1 em {
  font-style: italic;
}

.category-images a {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 25px;
  color: white;
}

.main-carousel p {
  color: #969696;
  font-weight: 500;
}

.sign-up-text h1 {
  color: white;
}

::placeholder {
  color: #969696;
}

.footer-info p {
  color: white;
  font-family: "Playfair Display";
  /* font-weight: bold; */
}

.footer div {
  font-family: "Playfair Display";
  /* font-weight: bold; */
  color: #969696;
}

/*------------------------------------------------- Mobile Width -----------------------------------------------------*/

@media (max-width: 599px) {
  .header-contacts {
    border-top: 1px solid #ccc6c5;
  }
  .icon-text {
    display: none;
  }
}

/*------------------------------------------------- Tablet Width -----------------------------------------------------*/

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
  .header {
    padding-bottom: 10px;
  }
  .header-logo img {
    order: 1;
    width: 130px;
  }
  .header-contacts {
    order: 2;
  }
  .header-contacts a {
    padding: 10px;
  }
  .header-cart {
    order: 3;
    width: 50px;
  }
  .banner {
    height: 400px;
  }
  .banner-text {
    width: 100vw;
  }
  .box {
    width: 25vw;
    height: 25vw;
  }
  .mens {
    width: 50vw;
    border-right: 2.5px solid white;
    border-bottom: none;
  }
  .trends {
    border-left: 2.5px solid white;
  }
  .bags {
    border-right: 2.5px solid white;
  }
  .womens {
    width: 50vw;
    border-left: 2.5px solid white;
  }
  .carousel-cell {
    width: 50%;
  }
  .carousel-cell h2 {
    margin: 0px 50px;
  }
  .footer {
    flex-direction: row;
    height: 300px;
    padding: 0px 20px;
  }
  .footer-info {
    text-align: left;
    line-height: 1.5;
  }
  .social-media {
    flex-direction: column;
  }
  .social-media i {
    padding: 10px 10px;
  }
  .icon-text {
    margin: 10px auto;
    font-family: "Raleway";
    font-weight: 500;
    padding-left: 10px;
  }
}

/*------------------------------------------------- Desktop Width -----------------------------------------------------*/

@media (min-width: 1240px) {
  body {
    font-size: 16px;
  }
  .header {
    padding: 20px 30px;
  }
  .header-contacts a {
    padding: 25px;
  }
  .banner {
    background-size: auto 90%, contain;
    height: 530px;
  }
  .category-text {
    padding: 0px 270px;
    height: 250px;
  }
  .carousel-cell {
    width: 25%;
  }
  .carousel-cell h2 {
    margin: 0px 20px;
  }
  .sign-up-text {
    padding: 0px 273px;
  }
  .footer {
    padding: 50px;
    height: 200px
  }
  .footer-info {
    line-height: 1.5;
  }
}